<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body class="p-3 mb-2 bg-light text-dark">
        <h1>
            <a href="/">Signup</a> by Sergey Sachkov
        </h1>
        <br>
        <br>
        {% block content %}
        {% endblock %}
    </body>

</html>
